@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: lightcoral;

}
h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}
div {
    font-size: 1.5em;
    text-align: center;
    padding: 9px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}